/* src/components/HomepageFeatures/styles.module.css */
.features {
  padding: 4rem 0;
  width: 100%;
}

.featureGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.featureItem {
  text-align: center;
  padding: 2rem;
}

.featureImage {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.featureImage img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 996px) {
  .featureGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}